/chatbone/src/tools/.env.tools
/drafts/
/src/chatbone.egg-info/
__pycache__
./.pytest_cache
./.mypy_cache
/src/chatbone.egg-info!/tests/
/.todo/
/.ropeproject/

/.*!/.venv/
!/chatbone.egg-info/
!/assistants/src/assistants.egg-info/
